.ecomm-container-list{
    border-radius: 45px;
}

.ecomm-container{
    position: relative;
    height: 500px;
    margin: 20px 0 ;

}

.ecomm-card{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--body-background-color);
    border-radius: 20px;
    overflow: hidden;
}

.ecomm-card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: var(--navbar-background-color); This is the circle inside the card */
    background: #e0bcbf;
    clip-path: circle(150px at 90% 20%);
    transition: 0.5s ease-in-out;
}

.ecomm-card:hover:before{
    clip-path: circle(300px at 80% -40%);
}

.ecomm-card .ecomm-prod-img{
    position: absolute;
    top: 40%;
    transform: translateY(-70%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.ecomm-card:hover .ecomm-prod-img{

    transform: translateY(-39%);
 
}

.ecomm-card .ecomm-prod-img img{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
 
}

.ecomm-card .ecomm-prod-content{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.ecomm-card:hover .ecomm-prod-content{
    height: 150px; 
}

.ecomm-card .ecomm-prod-content h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1;
    color: var(--font-primary);
    margin: 0px;
}

.ecomm-card .ecomm-prod-content .ecomm-prod-color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;    
}


.ecomm-card .ecomm-prod-content .ecomm-prod-color h3{
    color: var(--font-primary);
    font-weight: 300;
    font-size: 14px;
    text-transform:uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.ecomm-card .ecomm-prod-content .ecomm-prod-color span{
    width: 20px;
    height: 20px;
    background-color: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}


